gui:
  theme:
    activeBorderColor:
      - '#{{base0D-hex}}'
      - bold
    inactiveBorderColor:
      - '#{{base03-hex}}'
    searchingActiveBorderColor:
      - '#{{base09-hex}}'
    optionsTextColor:
      - '#{{base0D-hex}}'
    selectedLineBgColor:
      - '#{{base02-hex}}'
    cherryPickedCommitBgColor:
      - '#{{base03-hex}}'
    cherryPickedCommitFgColor:
      - '#{{base0D-hex}}'
    markedBaseCommitFgColor:
      - '#{{base0D-hex}}'
    unstagedChangesColor:
      - '#{{base08-hex}}'
    defaultFgColor:
      - '#{{base05-hex}}'
